:root{
	/* --primary: #ff1d4d;
	--secondary: #212529;
	--primary-hover: #e90031;
	--primary-dark: #83001c;
	--rgba-primary-1: rgba(255,29,77,0.1);
	--rgba-primary-2: rgba(255,29,77,0.2);
	--rgba-primary-3: rgba(255,29,77,0.3);
	--rgba-primary-4: rgba(255,29,77,0.4);
	--rgba-primary-5: rgba(255,29,77,0.5);
	--rgba-primary-6: rgba(255,29,77,0.6);
	--rgba-primary-7: rgba(255,29,77,0.7);
	--rgba-primary-8: rgba(255,29,77,0.8);
	--rgba-primary-9: rgba(255,29,77,0.9);
	--title: #212529; */
	/* --primary: #15808d;
	--secondary: #323232;
	--primary-hover: #0e5861;
	--primary-dark: #779500;
	--rgba-primary-1: rgba(21,128,141,0.1);
	--rgba-primary-2: rgba(21,128,141,0.2);
	--rgba-primary-3: rgba(21,128,141,0.3);
	--rgba-primary-4: rgba(21,128,141,0.4);
	--rgba-primary-5: rgba(21,128,141,0.5);
	--rgba-primary-6: rgba(21,128,141,0.6);
	--rgba-primary-7: rgba(21,128,141,0.7);
	--rgba-primary-8: rgba(21,128,141,0.8);
	--rgba-primary-9: rgba(21,128,141,0.9);
	--title: #212529;*/
	--primary: #61B329;
	--secondary: #323232;
	--primary-hover: #87a900;
	--primary-dark: #779500;
	--rgba-primary-1: rgba(142,178,0,0.1);
	--rgba-primary-2: rgba(142,178,0,0.2);
	--rgba-primary-3: rgba(142,178,0,0.3);
	--rgba-primary-4: rgba(142,178,0,0.4);
	--rgba-primary-5: rgba(142,178,0,0.5);
	--rgba-primary-6: rgba(142,178,0,0.6);
	--rgba-primary-7: rgba(142,178,0,0.7);
	--rgba-primary-8: rgba(142,178,0,0.8);
	--rgba-primary-9: rgba(142,178,0,0.9);
	--title: #212529;
} 